body{
    margin: 0%;
    background-color: thistle;
}
.input-tab{
    width: 400px;
}
.search-tab{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.img{
    width: 250px;
    border-radius: 10px;
}
.foodDisplay{
    width: 250px;
    margin-left: 250px;
    margin-top: 100px;
    height: 350px;
    box-shadow: 10px 10px 20px gray;
    margin-bottom: 100px;
}
#foodList{
    display: grid;
    grid-template-columns: repeat(3, 19em);
    grid-template-rows: repeat(3, 25em);
}
.fontBox{
    width: 250px;
    height: 100px;
    background-color: ghostwhite;
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 10px;
}
.itemImg{
    width: 1200px;
    height: 600px;
    margin-left: 80px;
    border-radius: 10px;
}
.title{
    margin-left: 80px;
    margin-top: 50px;
}
.ingradients{
    margin-left: 80px;
    margin-top: 30px;
}